.card {
  padding: 4vw;
  border-radius: 10%;
  margin-bottom: 4vw;
  width: 92vw;
}

.logo {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.name {
  font-size: 10vw;
  margin-bottom: 0;
  margin-top: 0;
}

.line {
  height: 1px;
  background-color: #efefef;
}

.mark {
  font-size: 6vw;
}

.text2 {
  font-size: 4vw;
  margin: 2vw 0;
}

.text3 {
  font-size: 2vw;
}

.name-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
}

.loyalty-container {
  margin-top: 4vw;
}

.mark-text {
  margin-left: 2vw;
  font-size: 4vw;
}

.cashback-level-container {
  display: flex;
  gap: 20vw;
  margin-top: 4vw;
}

.button {
  border: none;
  margin-top: 4vw;
}

.button-icon {
  height: 8vw;
  width: 8vw;
}

.button-container {
  display: flex;
  gap: 20vw;
}
